# This is Git's per-user configuration file.
[user]
	email = 188510657+brianbakerx@users.noreply.github.com
	name = Brian Baker

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/brian/.gitignore_global
